<% provide :title, "Edit battle" %>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2 class="center">Create a new battle</h2>
    <%= render "battle_form", button_text: "Update" %>
  </div>
</div>
